@import '../../libs/foundation';
@import '../../constants';

.first-screen {
  &__container {
    @include xy-grid-container();
    @include xy-grid();
    justify-content: center;
  }

  &__title {
    @include xy-cell(12);
    font-size: 80px;
    text-align: center;
  }

  &__title-first-word {

  }

  &__title-second-word {
    color: $COLOR_GREEN
  }

  &__description {
    @include xy-cell(8);
    text-align: center;
  }

  &__footer {
    @include xy-cell(12);
    @include xy-grid();
    justify-content: center;
    margin: 30px 0 0;
  }

  &__btn {
    margin: 0 15px;
  }
}
