@import './constants';
@import './libs/foundation';

@mixin btn-base() {
  @include button-base();
  font-weight: 500;
  border: 1px solid $COLOR_WHITE;
  color: $COLOR_WHITE;
  margin: 0;
  background: transparent;
  font-size: 17px;
}
